[core]
    excludesFile = ~/.gitignore.global

[include]
    path = .gitconfig.local

[init]
    defaultBranch = master

[color]
    ui = auto
    branch = auto
    diff = auto
    interactive = auto
    status = auto

[pull]
    rebase = false

[push]
    default = simple

[branch]
    autoSetupMerge = true

[diff]
    mnemonicPrefix = true
    submodule = log
    colorMoved = default

[difftool]
    prompt = false

[merge]
    tool = vimdiff

[mergetool]
    prompt = false

[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta

[interactive]
    diffFilter = delta --color-only

[web]
    browser = browser

[alias]
    ls = ls-files
    fix = mergetool
    amend = commit --amend

[advice]
    detachedHead = false

[delta]
    features = line-numbers decorations navigate
