[core]
    excludesfile = ~/.gitignore.global

[include]
    path = .gitconfig.local

[color]
    ui = auto
    branch = auto
    diff = auto
    interactive = auto
    status = auto

[pull]
    rebase = false

[push]
    default = simple

[branch]
    autosetupmerge = true

[diff]
    mnemonicprefix = true
    submodule = log

[difftool]
    prompt = false

[merge]
    tool = vimdiff

[mergetool]
    prompt = false

[web]
    browser = vimb

[alias]
    ls = ls-files
    fix = mergetool
    amend = commit --amend

[advice]
    detachedHead = false
